.parcelForm-background {
  background: url(https://images.unsplash.com/photo-1512418490979-92798cec1380?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  filter: blur(8px);
}

.navbar-background {
  background-color: #5356ff;
  font-weight: 500;
}

.btn {
  background: #5356ff;
  color: #f7f7f7;
}
