.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-heading {
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  margin-bottom: 20px;
}

.login-input {
  margin-bottom: 15px;
}

.login-btn {
  width: 100%;
}

.register-link {
  color: #007bff;
}
